@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="login" style="margin:0;font-family: Arapey, serif;margin-top:8%;">

    <form method="post" action="/Skin Care/Delete" enctype="multipart/form-data" style="margin-top:10px;" class="text-dark">
        <fieldset>
            <label><b>Skin Care name:</b></label>
            <input type="text" id="clothe" name="clothe" placeholder="Enter Skin Care name">
            <br />
            <button type="submit" value="Delete">Delete</button>
            <br />
            <br />
        </fieldset>
    </form>
</div>

<br />
